Repository jvalentini/cli-template: changes, and which lefthook commands are due for each by the changed paths.
All: biome, oxlint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{ts,json}"
      run: bunx biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true

    oxlint:
      glob: "*.ts"
      run: bunx oxlint --fix {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

pre-push:
  commands:
    typecheck:
      glob: "*.ts"
      run: bunx tsc --noEmit

    test:
      glob: "*.ts"
      run: bun test tests/

fix(ci): scope test command to tests/ directory
  .github/workflows/ci.yml
Due: none

docs: add improvement proposals based on competitor analysis
  .beads/issues.jsonl
  docs/IMPROVEMENT_PROPOSALS.md
Due: none

feat(cli): add --dry-run flag to preview generated files
  src/cli.ts
  src/wizard/generator.ts
  src/wizard/index.ts
Due: biome, oxlint

fix(docker): scope test command to tests/ directory
  docker-compose.yml
Due: none

fix(test): skip convex archetypes in smoke tests (covered in integration tests)
  tests/archetype-validation.test.ts
Due: biome, oxlint

feat(generator): add post-generation setup task runner
  bunfig.toml
  src/templates/loader.ts
  src/wizard/generator.ts
  templates/api/template.json
  templates/cli/template.json
  templates/convex-full-stack/template.json
  templates/convex-saas/template.json
  templates/core/.bakery/setup.ts
  templates/core/Makefile.ejs
  templates/core/template.json
  templates/full-stack/template.json
  templates/library/template.json
  tests/__snapshots__/integration.test.ts.snap
Due: biome, oxlint

docs: add banner image to README
  README.md
  banner.png
Due: none

feat(cli): add remote template support via --template flag
  src/cli.ts
  src/commands/cache.ts
  src/remote/.gitkeep
  src/remote/cache.ts
  src/remote/fetcher.ts
  src/remote/index.ts
  src/remote/parser.ts
  src/wizard/index.ts
Due: biome, oxlint

feat(generator): support remote templates in generateProject and dry-run
  src/wizard/generator.ts
  src/wizard/index.ts
Due: biome, oxlint

chore: close duplicate beads for completed features
  .beads/issues.jsonl
Due: none

docs: add file injection system design document for v2.0
  docs/FILE_INJECTION_DESIGN.md
Due: none

chore: bump version to v0.4.0
  package.json
Due: biome

test: improve coverage from 78% to 92% with 121 new tests
  tests/config-loader.test.ts
  tests/generator.test.ts
  tests/hash.test.ts
  tests/manifest.test.ts
  tests/plugin-loader.test.ts
  tests/templates-loader.test.ts
Due: biome, oxlint

style: use Date.now() instead of new Date().getTime()
  tests/manifest.test.ts
Due: biome, oxlint

feat: add bakery-bin install target
  Makefile
  src/cli.ts
  src/commands/sync.ts
  src/wizard/generator.ts
Due: biome, oxlint
